{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{path('Spectacle.validFormDeleteSpectacle')}}">
        <div class="row">

            <fieldset>
                <legend>Confirmer la suppression du spectacle suivant :</legend>
                <input name="id_Spectacle"  type="hidden" value="{{donnees.id_Spectacle}}" />
                <label>Nom : <h5>{{donnees.nom_Spectacle}}</h5> </label>
                <input type="hidden" name="_METHOD" value="DELETE">
                <input type="submit" name="supprimerSpectacle" value="Supprimer" />
            </fieldset>
        </div>
    </form>
{% endblock %}