{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{path('Spectacle.validFormEditSpectacle')}}">
        <div class="row">

            <fieldset>
                <legend>Modifier un spectacle </legend>
                <input name="id_Spectacle"  type="hidden" value="{{donnees.id_Spectacle}}" />
                <label>Nom :
                    <input name="nom_Spectacle"  type="text"  size="18" value="{{donnees.nom_Spectacle|default('')}}" />
                    {% if erreurs.nom_Spectacle is defined %}
                        <small class="error">{{erreurs.nom_Spectacle}}</small>
                    {% endif %}
                </label>
                <label>Theatre :
                    <select name="id_theatre">
                        {% for value in theatre if theatre is not empty %}
                            <option value="{{value.id_Theatre}}"  selected="selected" > {{value.nom_Theatre}} </option>
                        {% endfor %}
                    </select>
                    {% if erreurs.nom_theatre is defined %}
                        <small class="error">{{erreurs.nom_theatre}}</small>
                    {% endif %}
                </label>
                <label>Prix
                    <input name="prix_spectacle"  type="text"  size="18" 	value="{{donnees.prix_spectacle|default('')}}"/>
                    {% if erreurs.prix_spectacle is defined %}
                        <small class="error">{{erreurs.prix_spectacle}}</small>
                    {% endif %}
                </label>
                <label>Date (AAAA-MM-JJ)
                    <input name="date_representation_spectacle"  type="text"  size="18" 	value="{{donnees.date_representation_spectacle|default('')}}"/>
                    {% if erreurs.date_representation_spectacle is defined %}
                        <small class="error">{{erreurs.date_representation_spectacle}}</small>
                    {% endif %}
                </label>
                <input type="submit" name="modifierSpectacle" value="Modifier" />
            </fieldset>
        </div>
    </form>
{% endblock %}
