{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <a href="{{path}}public/index.php/Spectacle/add"> Ajouter un spectacle </a>
        <table>
            <caption>Recapitulatifs des spectacles</caption>
            <thead>
            <tr><th>id</th><th>Nom</th><th>Date</th><th>Prix</th><th>Theatre</th>
                <th>opération</th>
            </tr>
            </thead>
            <tbody>
            {% for spectacle in data if data is not empty %}
                <tr>
                    <td>{{spectacle.id_Spectacle}}</td><td>{{spectacle.nom_Spectacle}}</td><td>{{spectacle.date_representation_spectacle}}</td><td>{{spectacle.prix_spectacle}}</td><td>
                        {{spectacle.nom_theatre}}</td>
                    </td>

                        <td>
                            <a href="{{path}}public/index.php/Spectacle/edit/{{spectacle.id_Spectacle}}">modifier</a>
                            <a href="{{path}}public/index.php/Spectacle/delete/{{spectacle.id_Spectacle}}">supprimer</a>
                        </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}