{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <table>
            <caption>Recapitulatifs des théâtres</caption>
            <thead>
            <tr>
                <th>id</th><th>Nom</th><th>Adresse</th><th>Tel</th>
            </tr>
            </thead>
            <tbody>
            {% for theatre in data if data is not empty %}
                <tr>
                    <td>{{theatre.id_Theatre}}</td><td>{{theatre.nom_Theatre}}</td><td>{{theatre.adr_theatre}}</td><td>{{theatre.tel_theatre}}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}