<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion spectacle</title>
    <link rel="stylesheet" href="{{ path }}assets/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="{{ path }}assets/css/style.css">
    <script src="{{ path }}assets/js/vendor/modernizr.js"></script>
  </head>
  <body>

{% include "v_menu.html.twig" %}
{% block contenu %}
    block par défaut
{% endblock %}

<script src="{{ path }}assets/js/vendor/jquery.js"></script>
<script src="{{ path }}assets/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
  </body>
</html>

