<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="">TP web<span style="color:#ff0000;"> menu avec twig</span></a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="active"><a href="{{ path }}public/index.php/Spectacle/show">Spectacles</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Gestion</a>
                <ul class="dropdown">
                    {#{% if _SESSION['logged'] is defined and _SESSION['logged'] == 1 %}#}
                    <li><a href="{{ path }}public/index.php/Spectacle/add"> créer un spectacle </a></li>
                    <li><a href="{{ path }}public/index.php/Spectacle/show">afficher/editer/supprimer les spectacles</a>
                    </li>
                    {#{% else %}#}
                    <li><a href="{{ path }}public/index.php/Spectacle/show">afficher les spectacles</a></li>
                    {#{% endif %}#}
                    <li><a href="{{ path }}public/index.php/Theatre/show">Lister les théâtres</a></li>
                </ul>
            </li>
        </ul>
        <ul class="right">
            {% if  _SESSION['logged'] is defined and _SESSION['logged'] == 1 %}
                <li class="name" style="color: #d58512">Connecté en tant que : {{ _SESSION['login'] }}</li>
                <li><a href="{{ path }}public/index.php/Session/deconnexionSession">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{ path }}public/index.php/Session/connexionSession">Se connecter</a></li>
            {% endif %}
        </ul>
    </section>
</nav>
